compile_commands.json
emsdk
vendor/raylib-web
vendor/libraylib.a
vendor/libminiaudio.a
lcars
lcars-lib.so
*.so
lcars.data
lcars.js
lcars.wasm
.cache/clangd/index
redate.sh
.vscode/
*dSYM/
*.db
*amalgamation*
resources/
